.egret-search-box {
    position: absolute;
    width   : 100%;
    left    : 0;
    z-index : 9;
    top     : 0;

}

.render {
    position: absolute;
    width   : 80%;



}

.search-box {
    font-size: 1.4rem;
    width    : 100%;
    padding  : 14px 50px 14px 16px;
    outline  : none;
    border   : none;

}



.search-result {
    width           : 100%;
    height          : auto;
    max-height      : 350px;
    background-color: rgba(0, 0, 0, 0.4);

    padding      : 10px;
    border-radius: 5px;
    overflow-y   : auto;
    box-shadow   : rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}




.iconX {
    position: fixed !important;
    right   : 180px;
    top     : 10px;

}

.item {
    margin-top      : 6px;
    background-color: rgba(0, 0, 0, 0.4);
    color           : #fff;
    padding         : 2px 10px;
    border-radius   : 5px;
    cursor          : pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        ;
    }
}

.search-title {
    font-size: 1.2rem;
}

.search-author {
    font-size: 1rem;
}